* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:lightgrey ;
}

h1 {
    margin-bottom: 2rem;
}

a{
    /* background-color: #222; */
    text-decoration: none;
}

p {
    margin-bottom: 1rem;
}
header {
    background-color:  black;
    overflow: auto;
    line-height: 2rem;
    z-index: 400;
}

header nav h1 {
    float: left;
    padding: 2rem;
    margin-bottom: 0rem;
    font-size: 2rem;
    margin-top: 1rem;
}



header nav h1 a {
    color: rgb(255, 255, 255);
}

header nav ul {
    float: right;
    list-style-type: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}
 
header nav ul li a .icon {
    color:white;
    width: 1rem;
    height: 1rem;
}



/* .section {
    min-height: 700px;

} */

footer{
    background-color: black;
    color: whitesmoke;
    padding: 2rem;
    width: 100%;
    text-align: center;
}


.articles-container {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
    justify-content: center;
}

.articles-container .article {
    margin: 1rem 1rem;
    border: 0.1rem solid black;
    width: 28rem;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(60, 64, 67, 0.3),
    0 0.1rem 0.3rem 0.1rem rgba(60, 64, 67, 0.15);
}

.articles-container .article img {
    width: 80%;
    margin: 1rem 10%;
}

.articles-container .article h2 {
    text-align: center;
}
.articles-container .article>p {
    color: #27ae60;
    margin-left: 8.4rem;
    margin-right: 8.4rem;
    display: flex;
    justify-content: center;
}

.articles-container .article .article-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem 0;
}

.articles-container .article .article-action p {
    font-size: 2rem;
    font-weight: 900;
    color: #c0392b;
}

.articles-container .article .article-action button {
    border: 0;
    border-radius: 3px;
    padding: 1rem 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow 0.2s;
    background-color: #2ecc71;
}

.articles-container .article .article-action button:hover {
    color: black;
}

.btns {
    padding: 0.5rem 0.5rem;
    border-radius: 30px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    
}    

.btn-small {
    border: 2px solid  black;
    color:  rgb(14, 14, 94);
    background-color: rgb(255, 255, 255);
}

/* menu burger  */

.overlay {
    display: none;
}

.burger {
    display: none;
    margin-right: 38px;
}

/*Carrousel*/

.container {
    position: relative;
    width: 70%;
    height: 400px;
    margin: 20px auto;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    margin: 0;
    opacity: 0;
    transition: 1s ease-in-out;
    overflow: hidden;
}

.slide img {
    width : 100%;
    height: 100%;
}

.dots_container {
    display: flex;
    margin: 5px auto;
    width: fit-content;
}

.dots {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #bdbdbd;
    margin: 4px;
}

.dots:hover {
    background: #696969 !important;
}

@media screen and (max-width:600px) {
  .slide{
    height:fit-content;
  }
  .container{
height:200px;}
button {
    top: 50%;
}
}